@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

body {
    display: flex;
    height: 100vh;

    margin: 0;
    padding: 0;
}

.left-side {
    flex: 1;
}

.left-side img {
    height: 100%;
    width: 100%;
}

.right-side {
    background-color: black;
    flex: 2;
}

.semi-bg {
    height:90px;
    background-color: rgba(0, 0, 0, 0.65);
    position: relative;
    top: -575px;
    /* center text */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.semi-bg h1 {
    font-family: Norse-Bold;
    font-size: 3.2rem;
    font-weight: bolder;
    color: rgb(221, 217, 214);
    text-align: center;
}

#logo {
    height: 75px;
    width: auto;
}

.img-credit {
    /* border: 1px solid red; */
    color: white;
    text-align: center;
    position: relative;
    top: -130px;
}

.img-credit a {
    color: white;
}