@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

body {
    display: flex;
    height: 100vh;
}

.left-side {
    flex: 1;
}

.left-side img {
    height: 100%;
    width: 100%;
}

.right-side {
    background-color: black;
    flex: 2;
}

.semi-bg {
    height: 75px;
    background-color: rgba(0, 0, 0, 0.65);
    position: relative;
    top: -575px;
    /* center text */
    display: flex;
    justify-content: center;
    align-items: center;
}
.semi-bg h1 {
    font-family: Norse-Bold;
    font-size: 52px;
    font-weight: bolder;
    color: rgb(221, 217, 214);
    text-align: center;
}