@font-face {
    font-family: Norse-Bold;
    src: url(Font/Norse-Bold.otf);
}

body {
    display: flex;
    height: 100vh;

    margin: 0;
    padding: 0;
}

.left-side {
    flex: 1;
}

.left-side img {
    height: 100%;
    width: 100%;
}

.right-side {
    background-color: black;
    flex: 2;
}

.semi-bg {
    height:90px;
    background-color: rgba(0, 0, 0, 0.65);
    position: relative;
    top: -575px;
    /* center text */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.semi-bg h1 {
    font-family: Norse-Bold;
    font-size: 3.2rem;
    font-weight: bolder;
    color: rgb(221, 217, 214);
    text-align: center;
}

#logo {
    height: 75px;
    width: auto;
}

.img-credit {
    /* border: 1px solid red; */
    color: white;
    text-align: center;
    position: relative;
    top: -130px;
}

.img-credit a {
    color: white;
}

/* RHS */
.right-side {
    color: white;
    padding: 50px;
}

.right-side > p{
    border: 1px solid red;
    padding: 30px;
    padding-right:200px ;
    /* margin: 40px; */
    font-family:'Courier New', Courier, monospace;
    font-size: 1.1rem;
    line-height: 1.5;
}

form {
    border: 1px solid red;
    padding:20px 40px;
    padding-right: 300px;
    font-family: 'Courier New', Courier, monospace;
}

form h1 {
    font-family: Norse-Bold;
    font-size: 3rem;
}
form div {
    display: flex;
    flex-direction: column;
}

label {
    margin:5px 0px;
}
input {
    width: 300px;
    height: 35px;
    border-radius: 5px;
    background-color: rgb(65, 63, 63);
    color: white;
    font-size: 14px;
}
input:focus {
    outline: none;
    border: 3px solid #6e9c49;
}
input[type='password']:invalid {
    outline: none;
    border: 3px solid red;
}

div.name,
div.contact,
div.passWord {
    margin-bottom: 15px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    background-color: #3b5327;
    height: 50px;
    width: 200px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
    font-weight: bolder;
    border-radius: 7px;
    border: 1px solid white;
    margin-top: 45px;
}
