@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

body {
    display: flex;
    height: 100vh;
}

.left-side {
    border: 1px solid red;
    flex: 1;
}

.left-side img {
    height: 100%;
    width: 100%;
}

.right-side {
    border: 1px solid red;
    background-color: black;
    flex: 1;
}

.semi-bg {
    border: 2px solid red;
    position: relative;
    top: -500px;
}
.semi-bg h1 {
    font-family: Norse-Bold;
    font-size: 52px;
    font-weight: bolder;
    color: rgb(132, 59, 20);
    text-align: center;
}